<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Add a New Order</h4>
    </div>

    <div class="panel-body">
        <form [formGroup]="newOrderForm" (ngSubmit)="submit()">
            
            <label>Date:</label>
            <date-picker formControlName="date" [(ngModel)]="order.date"></date-picker>
            <br/>

            <label>Order Type:</label>
            <order-types formControlName="orderTypeId" [allowNone]=false [(ngModel)]="order.orderTypeId"></order-types><br/>

            <label>Price:</label>
            <price-input formControlName="price" [price]="order.price" [required]="true" [(ngModel)]="order.price"></price-input><br/>

            <label>Notes:</label>
            <textarea rows="3" class="form-control" [(ngModel)]="order.notes" formControlName="notes"></textarea><br/>

            <button type="submit" class="btn btn-primary" [disabled]="this.newOrderForm.invalid">Save</button>
            <button type="button" class="btn btn-default" (click)="cancel();" >Cancel</button>
        </form>
    </div>
</div>

{{order | json}}

<modal #mOnSumbitValidation [size]=2 [type]="'dialog'" [canEscape]=true [hasHeader]="true" [style]="'danger'">
    <div class="content-head">
        Validation Errors
    </div>
    <div class="content-body">
        <span>Please correct the following errors and try again:</span>
        <ul>
            <li *ngFor="let e of onSubmitErrors">
                {{e}}
            </li>
        </ul>
    </div>
</modal>

<wait [visible]="waiting"></wait>