<div *ngIf="mode==='error'" class="alert alert-danger">
    Unable to load the customer. Please try again.
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Update Customer</h4>
    </div>

    <div class="panel-body">
        <form [formGroup]="editCustomerForm" (ngSubmit)="submit()">

            <label>Name: </label>
            <input [(ngModel)]="customer.name" type="text" formControlName="name" class="form-control" 
                        [class.form-input-invalid]="editCustomerForm.controls.name.invalid && 
                                                    editCustomerForm.controls.name.touched">
            
            <label>Cell: </label>
            <input [(ngModel)]="customer.cell" type="text" formControlName="cell" class="form-control">

            <label>Home: </label>
            <input [(ngModel)]="customer.home" type="text" formControlName="home" class="form-control">

            <label>Work: </label>
            <input [(ngModel)]="customer.work" type="text" formControlName="work" class="form-control">

            <label>Other Phone: </label>
            <input [(ngModel)]="customer.otherPhone" type="text" formControlName="otherPhone" class="form-control">

            <label>Email: </label>
            <input type="text" formControlName="email" class="form-control" [(ngModel)]="customer.email"
                        [class.form-input-invalid]="editCustomerForm.controls.email.invalid &&
                                                    editCustomerForm.controls.email.touched">

            <hr/>
            <input [(ngModel)]="customer.noAddress" type="checkbox" formControlName="noAddress" />
            <label>No Address </label>
            <div id="adress" [hidden]="customer.noAddress">
                <label>Address: </label>
                <input [(ngModel)]="customer.address" type="text" formControlName="address" class="form-control" >

                <label>Postal Code: </label>
                <input [(ngModel)]="customer.postalCode" type="text" formControlName="postalCode" class="form-control" >
                
                <br/>
                {{ customer.address }}{{customer.address ? "," : "" }} {{city}},
                {{province}}{{customer.postalCode ? "," : "" }} {{customer.postalCode}}
            </div>
            <br/>
            <label>Notes: </label>
            <textarea [(ngModel)]="customer.notes" row=3 formControlName="notes" class="form-control"></textarea>
            
            <br/>
            <button class="btn btn-primary" type="submit" [disabled]="!this.editCustomerForm.valid">Update</button>
            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </form>
    </div>

</div>

<modal #m1 [size]=2 [type]="'confirm'" [canEscape]=true [hasHeader]=true [style]="'danger'"
        (on-close)="geocodingWarningClose($event);">
    <div class="content-head">
        Address not found
    </div>
    <div class="content-body">
        We were not able to locate the address. <br/>
        Do you want to continue?
    </div>
</modal>

<modal #m2 [size]=2 [type]="'confirm'" [canEscape]=true [hasHeader]=true [style]="'danger'"
    (on-close)="geocodingWarningClose($event);">
    <div class="content-head">
        Geolocator unavailable
    </div>
    <div class="content-body">
        External geolocator unavailable.<br/>
        Do you want to continue?
    </div>
</modal>


<modal #mOnSumbitValidation [size]=2 [type]="'dialog'" [canEscape]=true [hasHeader]="true" [style]="'danger'">
    <div class="content-head">
        Validation Errors
    </div>
    <div class="content-body">
        <span>Please correct the following errors and try again:</span>
        <ul>
            <li *ngFor="let e of onSubmitErrors">
                {{e}}
            </li>
        </ul>
    </div>
</modal>

<modal #mWait [size]=1 [type]="'block'" [canEscape]=false [hasHeader]="false">
    <div class="content-body">
        <div class="text-center">
            Please Wait...<br/>
            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
         </div>
    </div>
</modal>