<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Add a New User</h4>
    </div>

    <div class="panel-body">
        <label>Employee's Name:</label>
        <input class="form-control" type="text" [(ngModel)]="user.name" >
        <br/>

        <label>Username:</label>
        <input class="form-control" type="text" [(ngModel)]="user.username" >
        <br/>

        <button class="btn btn-primary" type="button" (click)="submit();"
          [disabled]="!user.name || !user.username ">
          Save
        </button>

    </div>
</div>

<div class="alert alert-success text-center" *ngIf="showPassword">
    
        The user was created and can login using the following credentials:<br/>
        Username: <h4>{{user.username}}</h4>
        Password: <h4>{{password}}</h4>

        <p>
        The user will be advised to change their password after the first login.
        </p>
        <br/>
        <a class="btn btn-default" [routerLink]="['/users']" style="color:black;">
            OK <icon [type]="'ok'" [size]="2"></icon>
        </a>
</div>


<modal #mWait [size]=1 [type]="'block'" [canEscape]=false [hasHeader]="false">
    <div class="content-body">
        <div class="text-center">
            Please Wait...<br/>
            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
         </div>
    </div>
</modal>