<div class="panel panel-primary">

    <!--<div class="panel-heading">
        {{customer.Name}}
    </div>-->

    <div class="panel-body">
        all the fields go here
    </div>

    <div class="panel-footer">
        controls here...
    </div>
</div>


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <!--<div class="panel-heading">
                    Orders
                </div>-->
                <div class="panel-body">
                    order info
                </div>
                <div class="panel-footer">
                    controls
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <!--<div class="panel-heading">
                    Gift Cards
                </div>-->
                <div class="panel-body">
                    gift cards info here...
                </div>
                <div class="panel-footer">
                    controls
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <!--<div class="panel-heading">
                    Reservations
                </div>-->
                <div class="panel-body">
                    reservation info...
                </div>
                <div class="panel-footer">
                    controls
                </div>
            </div>
        </div>
    </div>
