<div class="alert alert-warning text-center" *ngIf="mustChangePassword && !passwordChanged">
    Your password has been reset recently. You are strongly advised to update your password as soon as possible.
</div>

<div class="panel panel-default">

    <div class="panel-heading">
        <h4>Update Password</h4>
    </div>

    <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="submit();">
            <label>Current Password:</label>
            <input type="password" class="form-control" formControlName="currentPassword" [(ngModel)]="model.currentPassword"> <br/>

            <label>New Password: </label>
            <input type="password" class="form-control" formControlName="newPassword" [(ngModel)]="model.newPassword"> <br/>

            <label>Repeat New Password: </label>
            <input type="password" class="form-control" formControlName="repeatPassword" [(ngModel)]="model.repeatPassword"> <br/>

            <button class="btn btn-primary" (click)="submit();" type="button" [disabled]="!this.form.valid"> Update </button>
        </form>
    </div>
</div>


<modal #mWait [size]=1 [type]="'block'" [canEscape]=false [hasHeader]="false">
    <div class="content-body">
        <div class="text-center">
            Please Wait...<br/>
            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
         </div>
    </div>
</modal>