<div class="panel panel-default">
  <div class="panel-body">
      <label>Search by name or phone number:</label> 
      <customers-filter [source]="customers" (on-change)="filter($event)"></customers-filter>
      <a class="btn btn-primary" [routerLink]="['/customers/add']">New Customer</a>
  </div>
</div>

<div *ngIf="loading" class="center">
    Please wait...
</div>

<div class="row">
  <div class="col-md-3" *ngFor="let c of pageCustomers; let i=index;">
    <div class="panel panel-success">
        <div class="panel-body">
          <a [routerLink]="['/customers', c.id]"><span style="white-space:nowrap;">{{c.name}}</span></a><br/>
          {{c.address}}<br/>
          {{c.postalCode}}<br/>
          {{c.phone}}
        </div>
        <div class="panel-footer">
          Controls here...
        </div>
    </div>
  </div>
</div>

<paging [source]="filteredCustomers" [pageSize]="pageSize" [sizes]="availablePageSizes"
        [allowPageSizeChange]=true
      (index-change)="pageIndexChange($event);"></paging>
